:root {
    //  Цвет
    --body-bg: #{$bodyBg};
    --text-color: #{$textColor};

    // Цвет ссылки
    --link-color: #{$linkColor};
    --link-color-hover: #{$linkColorHover};

    //  Типографика
    --font-family: #{$fontFamily};
    --font-size: #{$fontSize};
    --font-weight: #{$fontWeight};
    --line-height: #{$lineHeight};

    // Ширина контейнера
    --container-padding: #{$containerPadding};
    --container-width: #{$containerWidth};
    --container-full-width: calc(var(--container-width) + var(--container-padding) * 2);

    //  Адаптивность и соответствующие ширины контейнера
    // $screen-xs: 0;
    // $screen-sm: 480px;
    // $screen-md: 768px;
    // $screen-lg: 992px;
    // $screen-xl: 1200px;
}